$contentBackground: #21232F;
$sectionColor: #3C3F50;
$footerColor: #3C3F50;
$headerPicture: '../img/m-h-night.jpg';
$buttonColor: #F4C52C;
$contentColor: #21232F;
$markWord: #E45859;
$textColor: #38393c; 
$linkColor: #ececeb;
$gradient: #E45859;
$headerColor:#ececeb;

$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-content: 'Fresca', sans-serif;