* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 47px;
	background-color: #FFFFFF;
}

.header-wrap {
	padding-top: 18px;
	font-size: 15px;
}

.header-title {
	width: 60%;
	float: left;
	display: inline;
	padding-left: 100px;
	text-transform: uppercase;
	color: #000;
	opacity: 0.7;
}

.header-items {
	width: 29%;
	float: left;
	display: inline;
}

.header-items li {
	display: inline;
	width: 23%;
	float: left;
}

.header-items a {
	text-decoration: none;
	color: #777;
}

.header-items a:hover {
	color: #bfba55;
}

.list {
	list-style-type: none;
}

.home-background {
	width: 100%;
	height: 700px;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/home-bg.jpg') no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-background h1 {
	color: #FFFFFF;
	font-size: 64px;
	word-spacing: 3px;
}

.home-background h3 {
	color: #bfba55;
	padding: 15px 0px 15px 0px;
}

.background-button {
	color: #777;
	background-color: #FFFFFF;
	padding: 10px 22px 10px 22px;
	border: none;
	border-radius: 19px;
	font-size: 10px;
	text-transform: uppercase;
}

.section-article-wrap {
	margin-top: 60px;
}

.article-item img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 550px;
	width: 800px;
}

.article-content {
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.article-heading {
	color: #000;
	padding: 10px 0px 10px 0px;
	opacity: 0.8;
	font-size: 22px;
	letter-spacing: 1px;
}

.additional-info {
	display: inline;
	width: 30%;
	color: #777;
}

.additional-info img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline;
	vertical-align: middle;
}

.additional-info p {
	display: inline;
	margin: 7px 8px 7px 8px;
}

.article-text {
	font-size: 13.5px;
	color: #777;
	line-height: 1.8;
	letter-spacing: 0.7px;
	margin-top: 20px;
}

.article-button {
	color: #777;
	background-color: #FFFFFF;
	padding: 10px 22px 10px 22px;
	border-radius: 19px;
	font-size: 11px;
	font-weight: bold;
	margin: 30px 0px 20px 0px;
}

hr {
	width: 800px;
	margin: 20px 0px 50px 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.2;
}

.footer-wrap {
	width: 100%;
	background-color: #000;
	height: 180px;
	color: #FFFFFF;
	margin-top: 50px;
	padding-top: 70px
}

.footer-main {
	width: 39%;
	float: left;
	display: inline;
	padding-left: 171px;
}

.footer-contact {
	width: 49%;
	float: right;
	display: inline;
}

.footer-text {
	width: 66%;
	line-height: 1.4;
}

footer h3 {
	font-size: 20px;
}

footer p {
	font-size: 15px;
	color: #777;
	margin-top: 15px;
}