$contentBackground: #fff;
$sectionColor: #21232F;
$footerColor: #21232F;
$headerPicture: '../img/m-h-day.jpg';
$buttonColor: #6F9904;
$contentColor: #21232F;
$markWord: #2293B4;
$textColor: #38393c; 
$linkColor: #ececeb;
$gradient: #3361C2;
$headerColor:#21232F;

$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-content: 'Source Sans Pro', sans-serif;