* {
  margin: 0;
  padding: 0; }

body {
  background-color: #21232F; }
  body .header {
    background: center url("../img/m-h-night.jpg") no-repeat;
    background-size: cover;
    height: 535px;
    width: 100%;
    border-bottom-right-radius: 38em 15em; }
    body .header .header-wrap {
      position: relative; }
      body .header .header-wrap .landing-logo img {
        position: absolute;
        top: 10px;
        left: 140px; }
      body .header .header-wrap .landing-logo p {
        position: absolute;
        top: 10px;
        left: 200px;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        color: #ececeb; }
        body .header .header-wrap .landing-logo p span {
          position: absolute;
          top: 20px;
          left: 0px;
          font-size: 10px; }
      body .header .header-wrap .header_heading {
        position: absolute;
        top: 100px;
        left: 140px;
        font-size: 50px;
        font-family: "Source Sans Pro", sans-serif;
        color: #ececeb;
        font-weight: bold;
        width: 460px;
        word-break: normal;
        line-height: 90%; }
      body .header .header-wrap .header_heading::before {
        position: absolute;
        content: 'awesome';
        line-height: 0.7;
        background: #E45859;
        top: 50px;
        left: 0px;
        border-style: solid;
        border-bottom-color: #E45859;
        border-width: 0px 0px 3px 0px; }
      body .header .header-wrap .header_text {
        position: absolute;
        top: 240px;
        left: 94px;
        white-space: pre;
        font-family: 'Fresca', sans-serif;
        font-size: 14px;
        display: block;
        color: #ececeb; }
      body .header .header-wrap div .header_button {
        position: absolute;
        top: 375px;
        left: 134px;
        color: white;
        background-color: #F4C52C;
        padding: 5px 28px 5px 28px;
        font-family: 'Hind', sans-serif;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-radius: 3px; }
      body .header .header-wrap div .login {
        position: absolute;
        top: 375px;
        left: 370px;
        color: #ececeb;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px; }
  body .section .section_text {
    position: relative;
    text-align: center;
    margin: 15px;
    font-size: 30px;
    color: #ececeb;
    font-family: "Source Sans Pro", sans-serif; }
  body .section .section_text::before {
    position: absolute;
    content: 'adventure';
    background-color: #E45859;
    border-style: solid;
    border-top-color: #E45859;
    border-width: 6px 0px 0px 0px;
    top: -8px;
    left: 713px; }
  body .section .section_card_wrap .section_card {
    width: 650px;
    height: 155px;
    margin: 0 auto;
    background-color: #3C3F50;
    border: 9px solid #3C3F50;
    border-radius: 5px;
    display: flex;
    margin-bottom: 17px; }
    body .section .section_card_wrap .section_card .section_card_img {
      border-radius: 5px;
      width: 100%; }
    body .section .section_card_wrap .section_card .section_card_right_container {
      text-align: center;
      color: #ececeb;
      font-family: "Fresca", sans-serif;
      margin: 10px; }
    body .section .section_card_wrap .section_card .section_card_heading {
      font-size: 15px;
      font-weight: bold;
      margin-top: 15px; }
    body .section .section_card_wrap .section_card .section_card_text {
      padding: 20px 42px 15px 42px;
      opacity: 0.8;
      text-align: justify;
      font-size: 11px; }
    body .section .section_card_wrap .section_card .section_link {
      color: #ececeb;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 11px; }
  body .section .section_banner {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #F4C52C, #E45859);
    border-radius: 5px;
    margin: 80px auto -50px;
    position: relative; }
    body .section .section_banner .section_banner_text_wrap .section_banner_heading {
      position: absolute;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.09em;
      top: 10px;
      left: 65px;
      padding-top: 5px; }
    body .section .section_banner .section_banner_text_wrap .section_banner_heading:before {
      position: absolute;
      content: 'start';
      top: 0px;
      left: 88px;
      background-color: #E45859;
      border-style: solid;
      border-top-color: #E45859;
      border-width: 6px 0px 0px 0px; }
    body .section .section_banner .section_banner_text_wrap .section_banner_text {
      position: absolute;
      left: 65px;
      top: 52px;
      color: #ececeb;
      font-size: 12px;
      font-family: "Source Sans Pro", sans-serif; }
    body .section .section_banner .section_banner_button {
      position: absolute;
      top: 35px;
      left: 520px;
      color: white;
      background-color: #F4C52C;
      padding: 5px 28px 5px 28px;
      font-family: 'Hind', sans-serif;
      font-size: 14px;
      font-weight: bold;
      border: none;
      border-radius: 3px; }
  body .footer {
    height: 200px;
    background-color: #3C3F50;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    font-size: 11px; }
    body .footer .footer-wrap {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 90px;
      color: #ececeb; }
      body .footer .footer-wrap .footer_logo p {
        position: absolute;
        top: 125px;
        left: 225px;
        font-size: 20px; }
      body .footer .footer-wrap .footer_logo span {
        position: absolute;
        top: 22px;
        left: 0px;
        font-size: 10px; }
      body .footer .footer-wrap .footer_text {
        width: 223px;
        margin: 0; }
      body .footer .footer-wrap .footer-cr, body .footer .footer-wrap .footer_logo p, body .footer .footer-wrap .footer_text {
        font-family: "Source Sans Pro", sans-serif; }
